.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px 45px 30px 30px;
    background: linear-gradient(#333333, #211e1f);
    margin-bottom: 20px;
    border-radius: 10px;
}
.icon {
    margin-right: 2px;
}
.title {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: 800;
    margin-bottom: 30px;
}
.cup {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);

    position: relative;
    width: 140px;
    height: 200px;
    border: 6px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    // border-radius: 53% 47% 65% 65%/0% 0% 150% 150%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background: url(../../assets/images/waterWave.png);
    background-repeat: repeat-x;
    background-position-y: 125px;
    animation: waterAnimated 10s linear infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0, 0, 0, 1);
    // -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}
.cup:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 120px;
    border: 6px solid #fff;
    right: -42px;
    top: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.current-water {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    font-weight: 800;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2.4rem;
}
.daily-water-wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    font-weight: 800;
    color: #ccc;
}
.daily-water {
    font-size: 1.6rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}
.add-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 50%;
    // margin-left: 50px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    &:hover {
        background-color: #f9c07d;
    }
    &:active {
        background-color: #f9c07d;
    }
}
.add-options {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -100px;
    background-color: #333333;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.add-option {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    transition: 0.2s all ease-in-out;
    font-weight: 700;
    .icon {
        color: #5685df;
    }
    &:hover {
        cursor: pointer;
        // opacity: 0.9;
        color: var(--primary-color);
    }
}
@keyframes waterAnimated {
    0% {
        background-position-x: 0;
    }

    50% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 2000px;
    }
}
