/* Styles for the input container */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #fff url('../../assets/images/BMI1.jpg') center center / cover no-repeat;
    z-index: 0;
    &::before {
        z-index: -99;
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }
}
.bg-wrapper {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img {
    width: 400px;
    object-fit: cover;
    text-align: center;
}
.slogan {
    margin-top: 10px;
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 2rem;
}
.form-wrapper {
}
.form-container {
    padding: 50px 40px 25px;

    margin-bottom: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.form-body {
    margin-top: 32px;
}
.logo {
    width: 200px;
    object-fit: cover;
    margin: auto;
}

.custom-btn {
    width: 100%;
    border-radius: 6px;
    height: 40px;
    margin-top: 15px;
}
.forgot-pw {
    text-align: center;
    margin-top: 15px;
    color: var(--primary-color);
    font-size: 1.4rem;
    display: block;
    font-weight: 700;
}
/* Styles for the button when hovered */
.sign-up {
    margin-top: 10px;
    padding: 18px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--secondary-color);
    font-weight: 700;
}
.sign-up-label {
    margin-left: 8px;

    color: var(--primary-color);
}
