.wrapper {
    margin-bottom: 30px;
    transition: all 0.3s;
    animation: slideIn linear 0.2s;
}
.header {
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 30px;
    background-color: #333333;
    overflow: hidden;
    &:hover .show-detail {
        display: flex;
    }
}
.img-wrapper {
    width: 150px;
    height: 150px;
    object-fit: cover;
    flex-shrink: 0;
}
.detail {
    margin-left: 20px;
}
.header-title {
    color: var(--primary-color);
    font-size: 2.8rem;
    display: flex;
    align-items: center;
    .like-icon-wrapper {
        display: flex;
        align-items: center;
        margin-left: 12px;
    }
    .like-icon {
        color: transparent;
        cursor: pointer;
        transition: 0.3s all;
        background-color: rgb(201, 201, 201);
        border-radius: 4px;
        padding: 2px;
        &:hover {
            opacity: 0.8;
        }
    }
    .like-icon.isLiked {
        animation: heartClick 0.3s ease-in-out;
        color: #e23c3c;
    }
}
.done-btn {
    // font-size: 1.6rem;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    top: 20px;
    color: var(--primary-color);
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}
.done-icon {
    margin-left: 4px;
}
.subtitle {
    color: #979797;
    font-size: 1.4rem;
    margin-top: -5px;
}
.info {
    margin-top: 5px;
}

.show-detail {
    animation: slideIn2 0.3s ease-in-out;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 28px;
    width: 130px;
    display: none;
    justify-content: center;
    align-items: center;

    font-size: 1.4rem;
    background-color: #211e1fe4;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: 800;
    // transition: 0.3s all ease-in-out;
    &:hover {
        opacity: 0.8;
    }
    .show-detail-icon {
        color: white;
        font-size: 2rem;
        font-weight: 800;
        text-align: center;
        margin-right: 5px;
    }
}
.show-detail.show {
    display: flex;
}
.body {
    padding: 15px 40px;
    background-color: #211e1f;
    animation: slideIn 0.3s ease-in-out;
    position: relative;
    max-height: 500px;
    overflow-y: scroll;
}

// .body.show {
//     animation: slideOut 0.3s ease-in-out;
// }
.body-title {
    color: var(--primary-color);
    font-size: 2.2rem;
    margin: 10px 0 10px;
}
.hide-btn {
    position: absolute;
    right: 55px;
    top: 24px;
    font-size: 3rem;
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
}
.equipment-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.equipment-item {
    width: 60px;
    margin: 0 8px;
}
.equipment-img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    overflow: revert;
}
.equipment-name {
    font-size: 1.4rem;
    overflow: hidden;
    // white-space: nowrap;
    text-overflow: ellipsis;
}
.menu-list {
    max-height: 450px;
    overflow-y: scroll;
    position: relative;
    animation: slideIn linear 0.2s;
}
.menu-btn {
    margin: 30px 10px 10px;
    display: flex;
    justify-content: end;
}
// Modal Confirm
.confirm-wrapper {
    padding: 40px 20px 30px;
}
.confirm-img-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.confirm-img {
    width: 150px;
    object-fit: cover;
    overflow: revert;
    text-align: center;
}
.confirm-title {
    max-width: 500px;
    text-align: center;
    font-size: 1.8rem;
}
.confirm-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

// Animation keyframes
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(calc(-20px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideIn2 {
    from {
        opacity: 0;
        transform: translate((-50%), calc(50px));
    }

    to {
        opacity: 1;
        transform: translate((-50%), 0);
    }
}
@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(calc(50px));
    }
}
@keyframes heartClick {
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
