.search-result,
.search {
    width: 500px;
}
.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 2px 16px;
}
.search {
    position: relative;
    height: var(--search-height);
    background-color: #f1f1f2;
    border-radius: var(--search-border-radius);
    padding: 0 0 0 16px;
    border: 1.5px solid transparent;
    display: flex;
    input {
        padding-right: 40px;
        flex: 1;
        font-size: 1.6rem;
        background-color: transparent;
        color: var(--black);
        height: 100%;
        caret-color: var(--primary-color);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.8);
    }
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: calc(var(--search-height) - var(--search-space-height) * 2);
        top: var(--search-space-height);
        right: var(--search-btn-width);
        background-color: rgba(22, 24, 35, 0.13);
    }
    &:focus-within {
        border-color: rgb(22, 24, 35, 0.12);
    }
}
.clear {
    cursor: pointer;
}

.clear,
.loading {
    font-size: 1.4rem;
    display: flex;
    position: absolute;
    right: calc(var(--search-btn-width) + 8px);
    top: 50%;
    transform: translateY(-50%);
    color: rgb(22, 24, 35, 0.4);
}
.loading {
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2.2rem;
    color: rgba(22, 24, 35, 0.4);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
