/* Styles for the input container */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #fff url('../../assets/images/BMI1.jpg') center center / cover no-repeat;
    z-index: 1;
    &::before {
        z-index: -99;
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100%;
    }
}
.bg-wrapper {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-img {
    width: 400px;
    object-fit: cover;
    text-align: center;
}
.slogan {
    margin-top: 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
}
.form-wrapper {
}
.form-container {
    padding: 50px 40px 25px;
    margin-bottom: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
}
.form-body {
    margin-top: 32px;
}
.logo {
    width: 200px;
    object-fit: cover;
    margin: auto;
}
.form-title {
    margin-top: 10px;
    color: var(--secondary-color);
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
}

.gender-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.8rem;
    .gender-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--secondary-color);
        border: 2px solid #333131;
        border-radius: 4px;
        width: 48%;
        height: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        z-index: 1;
        &:hover {
            opacity: 0.8;
        }
    }
    .gender-icon {
        font-size: 2.2rem;
        margin-right: 4px;
    }

    .gender-button.selected {
        background-color: #333131;
        color: var(--primary-color);
        &:hover {
            opacity: 1;
        }
    }

    .gender-button input[type='radio'] {
        display: none;
    }
}

/* Styles for the input when focused */

.custom-btn {
    width: 100%;
    border-radius: 6px;
    margin-top: 15px;
    height: 40px;
}
.error-message {
    color: red;
    font-size: 1.3rem;
    margin: 12px 0;
}
.forgot-pw {
    text-align: center;
    margin-top: 15px;
    color: var(--primary-color);
    font-size: 1.4rem;
    display: block;
}
/* Styles for the button when hovered */
.sign-up {
    margin-top: 10px;
    padding: 18px;
    font-size: 1.4rem;
    text-align: center;
    color: var(--secondary-color);
}
.sign-up-label {
    margin-left: 8px;

    color: var(--primary-color);
}
