.wrapper {
    margin-bottom: 30px;
    transition: all 0.3s;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.title {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    .title-icon {
        margin-left: 10px;
        color: var(--primary-color);
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.subtitle {
    color: #979797;
}
.body {
}
