.wrapper {
    margin-bottom: 30px;
    transition: all 0.3s;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.title {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    .title-icon {
        margin-left: 10px;
        color: var(--primary-color);
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.subtitle {
    color: #979797;
}
.body {
}
.menu-list {
    max-height: 450px;
    overflow-y: scroll;
    position: relative;
    animation: slideIn linear 0.2s;
}
.menu-btn {
    margin: 30px 10px 10px;
    display: flex;
    justify-content: end;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(calc(-20px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
