@import 'normalize.css';

/* vietnamese */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhd7eFb5N.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* vietnamese */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI5sdO_q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* vietnamese */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI5sdO_q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* vietnamese */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdO_q.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
// Nunino fonts
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    src: url(../../assets/fonts/Nunito-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Nunito';
    font-style: italic;
    src: url(../../assets/fonts/Nunito-Italic-VariableFont_wght.ttf);
}
:root {
    --primary-color: #f8a647;
    --secondary-color: #fff;
    --bg-color: #080b14;
    --card-bg-color: #292727;
    --default-layout-header-height: 76px;
    --hover-color: #ff7817;
    --default-layout-width: 1200px;
    --default-layout-horizontal-spacer: 20px;
    --sidebar-width: 250px;
    --sidebar-width-mb: 50px;
    --black: #000;
    --white: #fff;
    --text-color: #333;
    // Input
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

html body {
    font-family: 'Nunito', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--secondary-color);
    overflow-y: overlay;
}
// Scroll bar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.06);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'Nunito', sans-serif;
}
a[href] {
    text-decoration: none;
}
.mt-16 {
    margin-top: 16px;
}
.d-flex {
    display: flex;
}
.jusContentCenter {
    justify-content: center;
}
.mr-16 {
    margin-right: 16px;
}
.sep {
    &::before {
        content: '';
        margin: 0 10px;
        width: 1px;
        height: 20px;
        border-radius: 50%;
        background-color: #cccccc69;
    }
}
// Custom tippy tool tip
body {
    .tippy-box {
        text-align: center;
        padding: 10px;
        border-radius: 8px;
        line-height: 2rem;
        background-color: rgb(84, 84, 84);
        font-weight: 700;
        color: white;
        max-width: 50px;
    }
    .tippy-arrow {
        top: -8px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;

        border-bottom: 8px solid rgb(84, 84, 84);
    }
}
// Input type

// Keyframes
@keyframes slideToast {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
