@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 20px;
    --black: #000;
    --white: #fff;
    --text-color: #333;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Kanit', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'Kanit', sans-serif;
}
a[href] {
    text-decoration: none;
}
.mt-16 {
    margin-top: 16px;
}
.d-flex {
    display: flex;
}
.jusContentCenter {
    justify-content: center;
}
.mr-16 {
    margin-right: 16px;
}

// Custom tippy tool tip
body {
    .tippy-box {
        padding: 8px;
        border-radius: 8px;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
        font-weight: 500;
        color: white;
    }
    .tippy-arrow {
        top: -6px;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;

        border-bottom: 6px solid rgba(84, 84, 84, 0.92);
    }
}
