.wrapper {
    margin: 50px 0;
    position: relative;
}
.card-item {
    padding: 30px 40px;
    margin: 30px 0 30px 80px;
    width: 650px;
    border-radius: 10px;
    background-color: #fff;
}
.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    justify-content: space-between;
}
.update-icon {
    font-size: 2.2rem;
    cursor: pointer;
    color: var(--primary-color);
}
.card-body {
    flex: 1;
}
.title {
    color: var(--secondary-color);
    font-size: 2.6rem;
    font-weight: 700;
}
.body-index {
    display: flex;
    justify-content: space-between;
    .input-container {
        flex: 1;
        max-width: 48%;
    }
}
.input-container {
    display: flex;
    flex-direction: column;
    position: relative;
    font-weight: 600;
    margin-bottom: 12px;
    &.error {
        margin-bottom: 35px;
    }
    &.error input:focus {
        border: 1px solid red !important;
    }
    &.error input:focus ~ span:before,
    &.error input:focus ~ span:after,
    &.error input:focus ~ span i:before,
    &.error input:focus ~ span i:after {
        background-color: red !important;
    }
    input {
        border: 1px solid lightgray;
        padding: 16px;
        transition: 0.4s;
        color: var(--secondary-color);
        font-size: 2rem;
        font-weight: 600;
    }

    input:focus {
        outline: none;
    }
    .hasValue {
        padding: 26px 12px 6px;
    }
    input ~ span:before,
    input ~ span:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--secondary-color);
        transition: 0.2s;
    }

    input ~ span:after {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }

    input ~ span i:before,
    input ~ span i:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 0;
        background-color: var(--secondary-color);
        transition: 0.4s;
    }

    input ~ span i:after {
        left: auto;
        right: 0;
        top: auto;
        bottom: 0;
    }

    input:focus ~ span:before,
    input:focus ~ span:after {
        width: 100%;
        transition: 0.2s;
    }

    input:focus ~ span i:before,
    input:focus ~ span i:after {
        height: 100%;
        transition: 0.4s;
    }

    input ~ p {
        position: absolute;
        left: 18px;
        top: 16px;
        color: #aaa;
        transition: 0.2s;
        letter-spacing: 0.5px;
        font-size: 1.8rem;
        pointer-events: none;
    }

    .hasValue ~ p {
        top: 5px;
        left: 12px;
        font-size: 1.3rem;
        color: var(--secondary-color);
        transition: 0.2s;
        color: #a8a8a8;
    }
    .unit {
        display: none;
    }
    .hasValue ~ .unit {
        position: absolute;
        display: block;
        bottom: 5px;
        right: 10px;
        font-size: 2rem;
        color: var(--secondary-color);
        transition: 0.2s;
        color: #a8a8a8;
    }
    input:not(:focus) ~ p {
        color: #aaa;
    }
    .error-message {
        color: red;
        font-size: 1.3rem;
        position: absolute;
        bottom: -24px;
        left: 0;
    }
}

.gender-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 1.8rem;
    .gender-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
        border-radius: 4px;
        width: 48%;
        height: 50px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
    .gender-icon {
        font-size: 2.2rem;
        margin-right: 4px;
    }

    .gender-button.selected {
        background-color: var(--secondary-color);
        color: #fff;
    }

    .gender-button input[type='radio'] {
        display: none;
    }
}

.card-footer {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    .custom-btn {
        width: 150px;
        height: 38px;
        transition: 0.2s;
    }
}
