// Filter
.filter-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    // padding: 10px 20px;
    // border-radius: 12px;
    // background-color: #464646;
    // border: 1px #b8b8b838 solid;
}
.filter-title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary-color);
}
.calories-filter {
    display: flex;
    align-items: center;
}
.filter-subtitle {
    font-size: 1.8rem;
    color: var(--primary-color);
    font-weight: 700;
}
.calories-filter-progressBar {
    margin: 0px 12px -25px;
    .range-slide {
        position: relative;
        height: 4px;
        width: 200px;
    }

    .slide {
        position: absolute;
        top: 0;
        height: 2px;
        background: #606060;
        left: 12px;
        right: 6px;
        border-radius: 4px;
    }

    .line {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2px;
        background-color: var(--primary-color);
    }

    .thumb {
        position: absolute;
        z-index: 2;
        text-align: left;
        border: 1px solid var(--primary-color);
        background-color: #b8b8b8;
        border-radius: 50%;
        outline: none;
        top: -4px;
        height: 10px;
        width: 10px;
        margin-left: -9px;
    }

    input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        pointer-events: none;
        z-index: 3;
        height: 3px;
        top: 0;
        width: 100%;
        opacity: 0;
        margin: 0;
    }

    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        pointer-events: all;
        border-radius: 50%;
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
}

.calories-display {
    margin-top: 5px;
    font-size: 1.3rem;
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.ingredients-filter {
    .search-filter-result {
        height: 300px;
        width: 260px;
        overflow-y: scroll;
    }

    .search-filter {
        width: 260px;
        position: relative;
        height: 40px;
        background-color: #333131;
        border-radius: 92px;
        padding: 0 0 0 16px;
        border: 1.5px solid transparent;
        display: flex;
        input {
            padding-right: 40px;
            flex: 1;
            font-size: 1.6rem;
            background-color: transparent;
            color: var(--secondary-color);
            height: 100%;
            font-weight: 600;
            caret-color: var(--primary-color);
        }
        input:not(:placeholder-shown) ~ .search-btn {
            color: var(--secondary-color);
        }

        &:focus-within {
            border-color: rgba(255, 255, 255, 0.1);
        }
    }
    .clear {
        cursor: pointer;
    }

    .clear,
    .loading {
        background-color: transparent;
        font-size: 1.4rem;
        display: flex;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--secondary-color);
    }
    .loading {
        animation: spinner 1s linear infinite;
    }
}
// Search Item
.SearchItem-wrapper {
    padding: 10px 5px;
    margin: 0 18px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #cccccc32;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .title {
        font-weight: 600;
        margin-left: 10px;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: relative;
        // top: 2px;
        // left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        border-radius: 2px;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
        opacity: 0.8;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
        background-color: var(--primary-color);
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: '';
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
        left: 7px;
        top: 4px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
.SearchItem-wrapper.checked {
    color: var(--primary-color);
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
@media (max-width: 767.98px) {
    .filter-wrapper {
        flex-direction: column;
    }
    .calories-filter {
        margin-bottom: 15px;
    }
}
