//Menu
.menu-wrapper {
    margin-bottom: 8px;
}
//MenuItem
.menu-item {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--secondary-color);
    padding: 20px 12px;
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    position: relative;
    &.active {
        color: var(--primary-color);
        background-color: rgba(147, 111, 84, 0.388);
    }
    &.active .icon {
        display: none;
    }
    &.active .active-icon {
        display: flex;
    }
    &:hover {
        background-color: rgba(147, 111, 84, 0.816);
    }
}
.menu-item.separate {
    margin-top: 300px;
    &::before {
        content: '';
        position: absolute;
        left: 0px;
        right: 20px;
        top: 0;
        height: 1px;
        background: rgba(159, 159, 159, 0.12);
    }
}
.item-title {
    margin-left: 10px;
}
.active-icon,
.icon {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
}
.icon {
    color: var(--secondary-color);
}
.active-icon {
    display: none;
}
