.menu-item {
    display: flex;
    color: var(--text-color);
    align-items: center;
    font-weight: 600;
    font-size: 2rem;
    padding: 8px;
    color: var(--text-color);
    border-radius: 4px;
    transition: background-color ease-in-out 200ms;
    &.active {
        color: var(--primary-color);
    }
    &.active .icon {
        display: none;
    }
    &.active .active-icon {
        display: flex;
    }
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.item-title {
    margin-left: 8px;
}
.active-icon,
.icon {
    display: flex;
    align-items: center;
}
.active-icon {
    display: none;
}
