@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(calc(-20px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.detail-wrapper {
    // display: flex;
    // align-items: center;
    padding: 30px;
}

// .detail-body {
//     flex: 1;
// }
.detail-name {
    font-size: 3.2rem;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.detail-info {
    display: flex;
    justify-content: center;
}
.detail-gender {
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    .icon {
        font-size: 2rem;
        margin-right: 5px;
    }
}
.detail-bmi {
    margin-left: 40px;
    display: flex;
    align-items: center;
    position: relative;
    .num {
        font-size: 3.4rem;
        font-weight: 800;
        margin-right: 4px;
        letter-spacing: 2px;
        color: #60ab00;
    }
    .BMI {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 3px;
        color: #a8a8a8;
    }
    .status {
        font-size: 1.2rem;
        line-height: 1;
        margin-left: 1.5px;
    }
    .under {
        color: #0093d2;
    }
    .over {
        color: var(--primary-color);
    }
    &::before {
        content: '';
        width: 1px;
        border-radius: 1px;
        height: 70%;
        position: absolute;
        left: -20px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #a8a8a8;
    }
}
.detail-dateJoin {
    text-align: center;
    font-weight: 700;
}
body .content-wrapper {
    margin-top: 20px;
}
.content-list + .content-list {
    margin-left: 10px;
}
.content-list {
    background: linear-gradient(#333333, #211e1f);
    border-radius: 10px;
    position: relative;
    padding: 20px;
}
.content-title {
    font-size: 2.2rem;
    color: var(--primary-color);
    font-weight: 800;
    // margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
}

.content-body {
}
@keyframes heartClick {
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
@media (max-width: 767.98px) {
    .content-list + .content-list {
        margin: 10px 0 0;
    }
}
