.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
}
.content {
    flex: 1;
}
