.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    display: flex;
    width: var(--default-layout-width);
    padding: var(--default-layout-header-height) var(--default-layout-horizontal-spacer) 0;
    height: 1000px;
}
.content {
    flex: 1;
}
