.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 10px;
    transition: all 0.3s;
    margin-bottom: 5px;
    animation: slideIn linear 0.2s;
    &:hover {
        background-color: rgba(255, 255, 255, 0.109);
        cursor: pointer;
    }
}
.wrapper.selected {
    background-color: rgba(255, 255, 255, 0.342);
}
.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    overflow: revert;
}
.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desc {
    margin-left: 18px;
}

.name {
    font-weight: 700;
    font-size: 2rem;
    color: var(--secondary-color);
    line-height: 2rem;
    margin-bottom: 4px;
}
.time {
    font-size: 1.4rem;
    font-weight: 600;
    color: #979797;
}
.more-btn {
    color: var(--primary-color);
    font-size: 2.2rem;
    margin-right: 10px;
}
.item-checkbox {
    padding: 10px;
    cursor: pointer;
    input {
        display: none;
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(calc(-20px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
