// Menu Wrapper & item
.menu-list {
    width: 224px;
    .custom-menu-item {
        padding: 9px 16px;
        font-weight: 600;
        border-radius: 0;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
        border: none;
        width: 100%;
        background-color: transparent;
        color: var(--secondary-color);
        &:hover {
            background-color: rgba(172, 172, 172, 0.08);
        }
    }
    .separate {
        border-top: 1px solid rgba(172, 172, 172, 0.12);
    }
}

// Menu header
.menu-header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}
.menu-body {
    overflow-y: auto;
}
.menu-header__back {
    background-color: transparent;
    height: 100%;
    width: 50px;
    cursor: pointer;
}
.menu-header__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
}
