.wrapper {
    margin: 30px 50px 50px;
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: #211e1f;
    padding: 24px 40px 15px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.body {
    flex: 1;
    padding: 10px 40px 0;
    z-index: 100;
    position: relative;
}
.title {
    color: var(--primary-color);
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
.title-icon {
    margin-left: 10px;
}
.modal-wrapper {
    padding: 30px 40px 0;
    width: 500px;
}
