.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.05);
        cursor: pointer;
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    margin-left: 12px;
    flex: 1;
}
.check {
    margin-left: 8px;
    color: #29d6ed;
    font-size: 1.4rem;
}
.name {
    font-size: 1.6rem;
    font-weight: 600;
}
.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    line-height: 0;
}
