.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    animation: fadeIn linear 0.2s;
    overflow-y: scroll;
    z-index: 100000;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    z-index: -1;
}

.modal__body {
    margin: auto;
    animation: fadeIn linear 0.2s;
    background-color: var(--card-bg-color);
    max-height: 580px;
    width: auto;
    border-radius: 10px;
    overflow-y: scroll;
    transition: 0.3s all;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
