.wrapper {
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    box-shadow: rgb(0 0 0 / 20%) 1px 2px 12px;
    border-radius: 8px;
    padding: 8px 0 4px 0;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg-color);
}
