.wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    background: #fff url('../../assets/images/BMI1.jpg') top center / cover no-repeat;
    z-index: 0;
    &::before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    padding-top: var(--default-layout-header-height);
    min-height: 100vh;
    z-index: 1;
}
.content {
    flex: 1;
    margin-left: var(--sidebar-width);
    z-index: 1;
    padding: 20px 30px;
}
@media (max-width: 991.98px) {
    .content {
        margin-left: 0;
        padding: 0;
    }
    .sidebar {
        display: none;
    }
}
