.wrapper {
    padding: 16px 0;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 8px;
        right: 8px;
        top: 0;
        height: 1px;
        background: rgba(22, 24, 35, 0.12);
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
    }
}
.title {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
    padding: 0 8px;
    font-weight: 600;
    margin-bottom: 8px;
}
.wrapper .custom-account-item {
    padding: 8px;
    height: 48px;
    img {
        width: 32px;
        height: 32px;
    }
    [id='username'] {
        font-weight: 700;
        max-width: 260px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    [id='name'] {
        font-size: 1.2rem;
        line-height: 1.5rem;
        font-weight: 500;
    }
}
.more-btn {
    background-color: transparent;
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 0px 8px;
    margin-top: 8px;
}
