.wrapper {
    margin-bottom: 30px;
    transition: all 0.3s;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 8px;
}
.title {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    .title-icon {
        margin-left: 10px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.subtitle {
    color: #979797;
    display: flex;
    align-items: center;
    .clear-icon {
        margin-right: 10px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
    .invisible {
        opacity: 0;
    }
    .subtitle-text {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    .warning {
        color: rgb(255, 89, 0);
    }
    .warning-detail-icon {
        font-size: 1.8rem;
        margin-left: 4px;
        display: flex;
        align-items: center;
        color: rgb(255, 89, 0);
    }
}
.message {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin: -8px 0 4px;
}
.body {
}
.menu-list {
    max-height: 450px;
    overflow-y: scroll;
    position: relative;
    animation: slideIn linear 0.2s;
}
.menu-btn {
    margin: 30px 10px 10px;
    display: flex;
    justify-content: end;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(calc(-20px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
