.wrapper {
    margin-bottom: 30px;
    transition: all 0.3s;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.title {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    .title-icon {
        margin-left: 10px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
}

.subtitle {
    color: #979797;
    display: flex;
    align-items: center;
    .clear-icon {
        margin-right: 10px;
        color: var(--primary-color);
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }
    .invisible {
        opacity: 0;
    }
    .subtitle-text {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
    .warning {
        color: rgb(255, 89, 0);
    }
    .warning-detail-icon {
        font-size: 1.8rem;
        margin-left: 4px;
        display: flex;
        align-items: center;
        color: rgb(255, 89, 0);
    }
}
.message {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin: -8px 0 4px;
}
// Filter
.filter-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.filter-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
}
.calories-filter {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.filter-subtitle {
}
.calories-filter-progressBar {
    margin: 0px 12px -25px;
    .range-slide {
        position: relative;
        height: 4px;
        width: 150px;
    }

    .slide {
        position: absolute;
        top: 0;
        height: 2px;
        background: #606060;
        left: 12px;
        right: 6px;
        border-radius: 4px;
    }

    .line {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 2px;
        background-color: var(--primary-color);
    }

    .thumb {
        position: absolute;
        z-index: 2;
        text-align: left;
        border: 1px solid var(--primary-color);
        background-color: #b8b8b8;
        border-radius: 50%;
        outline: none;
        top: -4px;
        height: 10px;
        width: 10px;
        margin-left: -9px;
    }

    input {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
        pointer-events: none;
        z-index: 3;
        height: 3px;
        top: 0;
        width: 100%;
        opacity: 0;
        margin: 0;
    }

    input::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        pointer-events: all;
        border-radius: 50%;
        cursor: pointer;
        width: 18px;
        height: 18px;
    }
}

.calories-display {
    margin-top: 5px;
    font-size: 1.3rem;
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.ingredients-filter {
    .search-filter-result {
        height: 300px;
        width: 200px;
        overflow-y: scroll;
    }
    .search-filter-item {
        padding: 10px 20px;
    }

    .search-filter {
        width: 200px;
        position: relative;
        height: 40px;
        background-color: #333131;
        border-radius: 92px;
        padding: 0 0 0 16px;
        border: 1.5px solid transparent;
        display: flex;
        input {
            padding-right: 40px;
            flex: 1;
            font-size: 1.6rem;
            background-color: transparent;
            color: var(--secondary-color);
            height: 100%;
            font-weight: 600;
            caret-color: var(--primary-color);
        }
        input:not(:placeholder-shown) ~ .search-btn {
            color: var(--secondary-color);
        }

        &:focus-within {
            border-color: rgba(255, 255, 255, 0.1);
        }
    }
    .clear {
        cursor: pointer;
    }

    .clear,
    .loading {
        background-color: transparent;
        font-size: 1.4rem;
        display: flex;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--secondary-color);
    }
    .loading {
        animation: spinner 1s linear infinite;
    }
}

// body
.body {
}
.menu-list {
    max-height: 450px;
    overflow-y: scroll;
    position: relative;
    animation: slideIn linear 0.2s;
}
.menu-btn {
    margin: 30px 10px 10px;
    display: flex;
    justify-content: end;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(calc(-20px));
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}
@media (max-width: 767.98px) {
    .filter-wrapper {
        flex-direction: column;
    }
}
