.wrapper {
}
.header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: space-between;
    background-color: #211e1f;
    padding: 24px 40px 15px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.title {
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    .title-icon {
        margin-left: 8px;
    }
}

.body {
    padding: 10px 40px 0px;
    position: relative;
    transition: 0.3s all;
}
.content-wrapper {
    background: linear-gradient(#333333, #211e1f);
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
}

.content-title {
    font-size: 2.6rem;
    color: var(--primary-color);
    font-weight: 800;
    // margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon {
        display: flex;
        align-items: center;
        margin-left: 8px;
    }
}
.content-body {
    max-height: 460px;
    overflow-y: scroll;
    margin-top: 12px;
}
.user-wrapper {
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #4f4f4f;
        cursor: pointer;
    }
}
.user-img {
    margin-right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: revert;
}
.user-name {
    // color: var(--primary-color);
    font-weight: 700;
    color: #cecece;
}
.user-bmi {
    font-size: 2.2rem;
    font-weight: 800;
    color: #60ab00;
}
.under {
    color: #0093d2;
}

.over {
    color: var(--primary-color);
}
